<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Title</title>
  </head>
  <body>
      <h1>文件上传示例1</h1>
      <form action="http://192.168.1.111:5000/upload_img" enctype='multipart/form-data' method='POST'>
          <input type="file" name="file">
          <input type="submit" value="上传">
     </form>
        <h1>文件上传示例2</h1>
      <form action="http://192.168.1.111:5000/upload_activity_file" enctype='multipart/form-data' method='POST'>
          <input type="file" name="file">
          <input type="submit" value="上传">
     </form>
  </body>
</html>
